{% extends 'gheaven/admin/base.html' %}
{% load static %}

{% block styles %}
<style>
    input {
        color: aliceblue;
    }

    
    #lgn-frm {
height: 93vh;
backdrop-filter: blur(10em);
color: #edf0f1;
align-items: center;
}


.lgn-logo {
width: auto;
height: 2em;
border-radius: 30%;
margin-right: 12px;
}

.lgn-title {
color: #edf0f1;
}

.content {
display: flex;
align-items: center;
justify-content: center;
height: 100%;
flex-direction: column;
}


#lgn-form {
/* width: 100%; */
width: 25rem;
}

#lgn-btn {
background-color: rgba(0, 136, 255, 0.501);
width: 80%;
margin: 5% 10%;
border-radius: 59px;
}

#lgn-btn:hover {
background-color: rgb(18, 144, 254);
}

#lgn-ele {
background-color: rgba(255, 255, 255, 0.818);
border: 0;
border-bottom: 2px solid rgb(0, 136, 255);  ;
width: 80%;
margin: 5% 10%;
border-radius: 4px;
}

.lgn-ways a {
width: 100%;
padding: 8px;
border: 0;
}

</style>
{% endblock %}

{% block content %}


<nav class="navbar navbar-expand-lg navbar-dark p-0 up-sec"
style="backdrop-filter: blur(3rem); background-color: rgba(0, 0, 0, 0.547); border-bottom: 1px solid rgb(0, 136, 255); ">
    {% include 'gheaven/admin/navbar.html' %}
</nav>


<div class="container-fluid text-white p-0">
<div class="row m-0">
    <!-- SideBar -->
    {% include 'gheaven/admin/sidebar.html' %}

    <!-- Sidebar Windows -->

    <div class="col-11 p-0"
        style="backdrop-filter: blur(0.5rem); background-color: rgba(104, 103, 103, 0.321);">
        <div class="row m-0">
            <div class="col-12 p-0" id="lgn-frm">
                <div class="content text-white">
                    <h3>Add User</h3>
                    <form id="lgn-form" action="home.html" method="post">
                        <div class="form-group">
                            <input type="text" class="form-control" id="lgn-ele" placeholder="Username"
                                required>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="lgn-ele" placeholder="Password"
                                required>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" id="lgn-ele" placeholder="Email" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="lgn-ele" placeholder="First Name">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="lgn-ele" placeholder="Last Name">
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control" id="lgn-ele" placeholder="Phone Number">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="lgn-ele"
                                placeholder="Date Of Birth (dd/mm/yyyy)">
                        </div>
                        <button type="submit" class="btn text-white" id="lgn-btn" style="width: 50%;
                        margin: 5% 25%;">ADD</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
</div>
{% endblock %}