{% extends 'gheaven/admin/base.html' %}
{% load static %}

{% block styles %} {% endblock %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-dark p-0 up-sec"
style="backdrop-filter: blur(3rem); background-color: rgba(0, 0, 0, 0.547); border-bottom: 1px solid rgb(0, 136, 255); ">
    {% include 'gheaven/admin/navbar.html' %}
</nav>


<div class="container-fluid text-white">
<div class="row">
    <!-- SideBar -->
    {% include 'gheaven/admin/sidebar.html' %}

    <!-- Sidebar Windows -->

    <div class="col-11 p-0"
        style="backdrop-filter: blur(0.5rem); background-color: rgba(104, 103, 103, 0.321);">
        <div class="row  p-0 m-0 mt-3" style="border-bottom: 1px solid white;">
            <h3>Dashboard</h3>
            <div class="col-12 d-flex p-0 text-center">
                <br />
                <div class="sec-col m-3">
                    <h6 class="m-2 mb-0 ">Today's Income</h6>
                    <h4 class="m-2 "><i class="fa-solid fa-indian-rupee-sign s-icon small"
                            style="padding-left: 0;"></i>{{ todaysincome }}</h4>
                </div>
                <div class="sec-col m-3">
                    <h6 class="m-2 mb-0 ">PC Available</h6>
                    <h4 class="m-2 "><i class="fa-solid fa-desktop s-icon small" style="padding-left: 0;"></i>{{ pccount }}
                    </h4>
                </div>
                <div class="sec-col m-3">
                    <h6 class="m-2 mb-0 ">Month's Revenue</h6>
                    <h4 class="m-2 "><i class="fa-solid fa-indian-rupee-sign s-icon small"
                            style="padding-left: 0;"></i>{{ monthsincome }}</h4>
                </div>
            </div>
        </div>

        <div class="row p-0 m-0 mt-3">
            <h3>PC Information</h3>
            <div class="col-12 p-0 tab-col">
                <table class="table text-white text-center">
                    <thead>
                        <tr>
                          <th scope="col">PC Number</th>
                          <th scope="col">Availability Status</th>
                          <th scope="col">Username</th>
                          <th scope="col">Remaining Timer</th>
                        </tr>
                    </thead>
                    {% for pc in allpc  %}
                    <tbody>
                        <tr>
                          <th scope="row">{{ pc.pc_number }}</th>
                          <td>{{ pc.availability_status }}</td>
                          <td>{{ pc.username }}</td>
                          <td>{{ pc.remaining_time }}</td>
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}