<div class="col-1 p-0 text-center up-sec"
        style="height: 93.2vh; backdrop-filter: blur(3rem);  background-color: rgba(0, 0, 0, 0.547);">
        <div class="sidebar">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link s-link" href="{% url 'dashboard' %}"><i
                            class="fa-solid fa-table-cells-large s-icon"></i><br />Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link s-link" href="{% url 'orders' %}"><i
                            class="fa-solid fa-indian-rupee-sign s-icon"></i><br />Payments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link s-link" href="{% url 'users' %}"><i
                            class="fa-solid fa-users s-icon"></i><br />Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link s-link" href="{% url 'activity' %}"><i
                            class="fa-solid fa-chart-line s-icon"></i><br />Activity</a>
                </li>
                {% comment %} <li class="nav-item">
                    <a class="nav-link s-link" href="{% url 'statistics' %}"><i
                            class="fa-solid fa-chart-column s-icon"></i><br />Statistics</a>
                </li> {% endcomment %}
            </ul>
        </div>
    </div>