{% extends 'gheaven/admin/base.html' %}
{% load static %}

{% block title %} {% endblock %}

{% block styles %} {% endblock %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-dark p-0 up-sec"
style="backdrop-filter: blur(3rem); background-color: rgba(0, 0, 0, 0.547); border-bottom: 1px solid rgb(0, 136, 255); ">
    {% include 'gheaven/admin/navbar.html' %}
</nav>


<div class="container-fluid text-white">
<div class="row">
    <!-- SideBar -->
    {% include 'gheaven/admin/sidebar.html' %}

    <!-- Sidebar Windows -->

    <div class="col-11 p-0"
        style="backdrop-filter: blur(0.5rem); background-color: rgba(104, 103, 103, 0.321);">
        <div class="row">
            <div class="col-6"></div>
            <div class="col-6"></div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</div>
</div>
{% endblock %}