{% extends 'gheaven/admin/base.html' %}
{% load static %}

{% block title %} {% endblock %}

{% block styles %} {% endblock %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-dark p-0 up-sec"
style="backdrop-filter: blur(3rem); background-color: rgba(0, 0, 0, 0.547); border-bottom: 1px solid rgb(0, 136, 255); ">
    {% include 'gheaven/admin/navbar.html' %}
</nav>


<div class="container-fluid text-white">
<div class="row">
    <!-- SideBar -->
    {% include 'gheaven/admin/sidebar.html' %}

    <!-- Sidebar Windows -->

    <div class="col-11 p-0"
        style="backdrop-filter: blur(0.5rem); background-color: rgba(104, 103, 103, 0.321);">

        <div class="row p-0 m-0 mt-3">
            <h3>User Information</h3>
            <div class="col-12 p-0 tab-col">
                <table class="table text-white text-center">
                    <thead>
                        <tr>
                            <th scope="col"><b>User Name</b></th>
                            <th scope="col">Full Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Phone Number</th>
                            <th scope="col">Balance</th>
                        </tr>
                    </thead>
                    {% for user in allusers  %}
                    <tbody>
                        <tr>
                          <th scope="row">{{ user.username }}</th>
                          <td>{{ user.first_name}} {{ user.last_name }}</td>
                          <td>{{ user.email }}</td>
                          <td>{{ user.phone_number }}</td>
                          <td>{{ user.account_balance }}</td>
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}