{% extends 'gheaven/base.html' %}
{% load static %}

{% block title %} Gamers Heaven {% endblock %}

{% block styles %}
<style>
    .sec-col {
        backdrop-filter: blur(3em);
        background-color: rgba(104, 103, 103, 0.321);
        /* box-shadow: 3px 5px 5px rgba(255, 255, 255, 0.312); */
        {% comment %} border-radius: 10px; {% endcomment %}
        padding: 0;
    }

    #lnk-acc {
        text-decoration: none;
        color: aliceblue;
    }

    .gm-sc {
        background-color: rgba(0, 255, 255, 0.271);
        border-radius: 15px;
        padding: 0;
        height: 22rem;
    }
</style>
{% endblock %}

{% block content %}
<header>
    {% include 'gheaven/navbar.html' %}
</header>

<div class="container-fluid" style="padding-left: 0px; padding-right: 0px; height: 49.6rem;">
    <div class="row m-0" style="height: 100%;">
        <div class="col-2 sec-col ml-0">
            <div class="row m-0">
                <div class="col-12 mt-5">
                    <h3 class="text-white m-0 d-flex aign-items-center justify-content-center">Account</h3>
                </div>
            </div>

            <div class="row m-0">
                <div class="col-12 p-0">
                    <div class="row m-0">
                        <div class="col-12 p-4 pt-0 pr-0 pb-0 mt-4 text-white">
                            <h6>
                                <ul class="al_list">
                                    <li><a href="{% url 'account' user.username timer %}" id="lnk-acc">General Information</a></li>
                                    <li><a href="{% url 'paymenthistory' user.username timer %}" id="lnk-acc">Payment History</a></li>
                                    <li><a href="{% url 'editaccount' user.username timer %}" id="lnk-acc">Edit Account</a></li>
                                </ul>
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-10 text-white" style="padding: 1rem 1.5rem 0 1.5rem; text-shadow: 1px 1px 5px black;">
            <div class="row m-0">
                <div class="row p-0 m-0" style="border-bottom: 1px solid white;">
                    <div class="col-12 p-0">
                        <h4 class="m-1">Account Overview</h4>
                    </div>
                </div>
                <div class="row p-0 m-0">
                    <div class="col-6 mt-3 mb-2 p-0">
                        <h4>First Name</h4>
                        <h5>{{ user.first_name }}</h5>
                    </div>
                    <div class="col-6 mt-3 mb-2 p-0">
                        <h4>Last Name</h4>
                        <h5>{{ user.last_name }}</h5>
                    </div>
                    <div class="col-6 mt-3 mb-2 p-0">
                        <h4>Date Of Birth</h4>
                        <h5>{{ user.date_of_birth }}</h5>
                    </div>
                    <div class="col-6 mt-3 mb-2 p-0">
                        <h4>Phone Number</h4>
                        <h5>+91 {{ user.phone_number }}</h5>
                    </div>
                    <div class="col-12 mt-3 mb-2 p-0">
                        <h4>Email</h4>
                        <h5>{{ user.email }}</h5>
                    </div>
                </div>

                <div class="row p-0 m-0 mt-4" style="border-bottom: 1px solid white;">
                    <div class="col-12 p-0">
                        <h4 class="m-1">Summary</h4>
                    </div>
                </div>


                <div class="row  p-0 m-0 mt-3">
                    <div class="col-6 ">
                        <h4 class="m-2 mb-0 justify-content-center">Total Time Remaining</h4>
                        <div class="row mt-1">
                            <div class="col-12   justify-content-center">
                                <i class="fa-solid fa-clock fa-lg m-2" id="timer">&nbsp {{ timer }}</i>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 p-0 ml-2" >
                        <h4 class="m-2 mb-0 justify-content-center">Total Coins Remaining</h4>
                        <div class="row mt-1">
                            <div class="col-12   justify-content-center">
                                <i class="fas fa-coins fa-lg m-2">&nbsp {{ user.total_coins }}</i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row p-0 m-0">

                </div>
            </div>
        </div>
    </div>
</div>


<script>
    // Get the initial value from the database
    var initialValue = "{{ timer }}";
 
    // Split the initial value into hours, minutes, and seconds
    var timeParts = initialValue.split(":");
    var hours = parseInt(timeParts[0]);
    var minutes = parseInt(timeParts[1]);
    var seconds = parseInt(timeParts[2]);

      // Convert hours, minutes, and seconds to milliseconds
      var initialTime = ((hours* 60 * 60) + (minutes * 60) + (seconds)) * 1000;
      0
          // Set the target date and time for the countdown
          var targetDate = new Date().getTime() + initialTime;
      
          // Update the countdown every 1 second
          var countdownInterval = setInterval(function() {
              // Get the current date and time
              var now = new Date().getTime();
      
              // Calculate the remaining time
              var remainingTime = targetDate - now;
      
              // Calculate days, hours, minutes, and seconds
              var days = Math.floor(remainingTime / (1000 * 60 * 60 * 24));
              var hours = Math.floor((remainingTime % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
              var minutes = Math.floor((remainingTime % (1000 * 60 * 60)) / (1000 * 60));
              var seconds = Math.floor((remainingTime % (1000 * 60)) / 1000);

         // Display the countdown timer
         document.getElementById("timer").innerHTML = hours + ":" + minutes + ":" + seconds ;

         // If the countdown is finished, display a message
         if (remainingTime < 0) {
             clearInterval(countdownInterval);
             document.getElementById("timer").innerHTML = "Session has ended!";
         }
     }, 1000);
 </script>

{% endblock %} 