{% extends 'gheaven/base.html' %}
{% load static %}

{% block title %} Login Page {% endblock %}

{% block styles %}  {% endblock %}

{% block content %} 
<header style="padding: 0;">

</header>

<div class="container-fluid">
    <div class="row" id="lgn-frm">
        <div class="col-4 p-0"></div>
        <div class="col-4 justify-content-center" id="lgn-frm">
            <div class="content">
                <i class="fa-regular fa-face-smile" style="font-size: 50px;"></i><br>
                <h3>{{ msg }}</h3>
                <h4>Back to Login</h4>
                {% if msg == "Successful" %}
                    <a href="{% url 'login-page' %}" class="btn" id="lgn-btn">Log in</a>
                {% endif %}
                {% if msg == "Details Update Successful" %}        
                    <a href="{% url 'editdetails' unm timer %}" class="btn" id="lgn-btn">Continue</a>
                {% endif %}
                
            </div>
        </div>
        <div class="col-4 p-0"></div>
    </div>
</div>
</div>
{% endblock %}