



{% extends 'gheaven/base.html' %}
{% load static %}

{% block title %} Gamers Heaven {% endblock %}

{% block styles %} 
<style>
#lgn-frm {
    height: 100vh;
}
</style>
{% endblock %}

{% block content %} 

<div class="container-fluid">
    <div class="row">
        <div class="col-4 offset-4 justify-content-center" id="lgn-frm">
            <div class="content text-white">
                <h2>MAKE PAYMENT</h2>
                <form id="lgn-form text-white" action="{% url 'paynow' user.username %}" method="post"> 
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="text-center"> Total Amount 
                        <input type="text" class="form-control text-center" id="lgn-ele" name="totalamount" value={{ amount }} readonly>
                    </label>
                    </div>
                    <div class="form-group">
                        <label class="text-center"> Total Time 
                        <input type="number" class="form-control text-center" id="lgn-ele" name="totaltime" value='{{ time }}' readonly>
                    </label>
                    </div>
                    
                    <div class="form-group">
                        <label class="text-center"> Item Type 
                        <input type="text" class="form-control text-center" id="lgn-ele" name="ordertype" value="package" readonly>
                    </label>
                    </div>
                    
                    <button type="submit" class="btn" id="lgn-btn" style="width: 50%;
                    margin: 5% 25%;">Pay Now</button>
                </form>
            </div>
        </div>
    </div>
</div>
  

{% endblock %} 