{% load static %}
<h6 class="text-white">
    <img class="logo" src="{% static 'gheaven/images/logo.jpg' %}" alt="Gamers_Heaven" />
    Gamers Heaven
</h6>
<nav>
    <ul>
        <li><a href="{% url 'home' user.username %}">HOME</a></li>
        <li><a href="{% url 'games' user.username %}">GAMES</a></li>
        <li><a href="{% url 'apps' user.username %}">APPS</a></li>
        <li><a href="{% url 'shop' user.username %}">SHOP</a></li>
        <li><a href="{% url 'account' user.username %}">ACCOUNT</a></li>
    </ul>
</nav>
<a id="user_logo" href="{% url 'account' user.username %}"><i class="fa-solid fa-user medium"></i></a>