{% extends 'gheaven/base.html' %}
{% load static %}

{% block title %} Login Page {% endblock %}

{% block styles %}  {% endblock %}

{% block content %} 
<header style="padding: 0;">

</header>

<div class="container-fluid">
    <div class="row" id="lgn-frm">
        <div class="col-4 p-0"></div>
        <div class="col-4 justify-content-center" id="lgn-frm">
            <div class="content">
                <i class="fa-regular fa-face-smile" style="font-size: 50px;"></i><br>
                <h3>{{ msg }}</h3>
                <h4>Continue to Gamers Heaven</h4>
                {% if msg == "Payment Successful" %}
                    <a href="{% url 'home' user.username timer %}" class="btn" id="lgn-btn">Enter</a>
                {% endif %}
                {% if msg == "Payment Unsuccessful" %}        
                    <a href="{% url 'shop' user.username timer %}" class="btn" id="lgn-btn">Enter Shop</a>
                {% endif %}
            </div>
        </div>
        <div class="col-4 p-0"></div>
    </div>
</div>
</div>
{% endblock %}