{% extends 'gheaven/base.html' %}
{% load static %}

{% block title %} Gamers Heaven {% endblock %}

{% block styles %}
<style>
    .sec-col {
        backdrop-filter: blur(3em);
        background-color: rgba(104, 103, 103, 0.321);
        /* box-shadow: 3px 5px 5px rgba(255, 255, 255, 0.312); */
        border-radius: 0;
        padding: 0;
    }

    .cart-shop {
        background-color: rgba(104, 103, 103, 0.514);
        border-radius: 15px;
        padding: 0;
    }

    .gm-sc {
        background-color: rgba(0, 255, 255, 0.271);
        border-radius: 50%;
        padding: 0;
        width: 10rem;
        height: 10rem;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    a {
        color: white;
        text-decoration: none;
    }

    .totals {
        width : 100%;
        background-color: transparent;
  border: none;
  outline: none;
  color: white; 
    }
</style>
{% endblock %}

{% block content %}


<header>
    {% include 'gheaven/navbar.html' %}
</header>


<div class="container-fluid" style="padding-left: 0px; padding-right: 0px; height: 49.6rem;">
    <div class="row m-0" style="height: 100%;">
        <div class="col-12 text-white" style="padding: 1rem;">
            <div class="row m-0">
                <div class="col-10">
                    <div class="row p-0 m-0">
                        <div class="col-12 p-0">
                            <h5 class="m-1">All Packages</h5>
                        </div>
                    </div>
                    <div class="row p-0 m-0">
                        <div class="col-4" style="width: 12rem; height: 12rem;">
                            <a href="#" class="package-link" data-package-name="1 hour " data-package-value="1" 
                                data-package-price="{{ packageprice.one }}">
                                <div class="row p-0 m-0">
                                    <div class="col-12 m-1 gm-sc d-flex align-items-end justify-content-center"
                                        style="background-image: url('{% static 'gheaven/images/hourly_packages/1.png' %}');">
                                    </div>
                                </div>
                                <p class="d-flex align-items-center justify-content-center"
                                    style="font-size: 1.125rem; font-weight: 800;">{{ packageprice.one }}</p>
                            </a>
                        </div>

                        <div class="col-4" style="width: 12rem; height: 12rem;">
                            <a href="#" class="package-link" data-package-name="2 hours " data-package-value="2" 
                                data-package-price="{{ packageprice.two }}">
                                <div class="row p-0 m-0">
                                    <div class="col-12 m-1 gm-sc d-flex align-items-end justify-content-center"
                                        style="background-image: url('{% static 'gheaven/images/hourly_packages/2.png' %}');">
                                    </div>
                                </div>
                                <p class="d-flex align-items-center justify-content-center"
                                    style="font-size: 1.125rem; font-weight: 800;">{{ packageprice.two }}</p>
                            </a>
                        </div>
                        <!-- Add similar changes for other package links -->
                    </div>
                </div>
                <div class="col-2 p-3">
                    <div class="row p-0 m-0 cart-shop d-flex">
                        <div class="col-4 p-0 d-flex align-items-center justify-content-center">
                            <i class="fa-solid fa-wallet medium" style="font-size: 1.5rem"></i>
                        </div>
                        <div class="col-8 p-0">
                            <div class="row m-0">
                                <div class="col-12">
                                    <p class="d-flex align-items-center justify-content-center m-2"
                                        style="font-size: 0.9rem;">ACCOUNT BALANCE</p>
                                    <i class="fas fa-rupee-sign m-2 ">&nbsp;. {{ user.account_balance }}</i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row p-0 m-0 mt-2 cart-shop">
                        <div class="col-12 p-3 pt-1 d-flex align-items-start">
                            <p style="font-size: 1.125rem;" class="p-1 m-0">Cart</p>
                        </div>
                        <div class="col-12">
                            <form action="{% url 'payment' user.username %}" method="POST">
                                {% csrf_token %}
                                <div id="cart-empty-message">
                                    <i class="fa-solid fa-cart-shopping s-icon medium d-flex align-items-end justify-content-center p-4"
                                        style="font-size: 2rem;"></i>
                                    <p style="font-size: 1.125rem;" class="d-flex align-items-end justify-content-center">
                                        Your cart is empty</p>
                                </div>
                                <div id="cart-items"></div>
                                <br>
                                <div class="m-1">
                                        <label> Total Amount : 
                                        <input class="totals" name="amount" id="total-amount" readonly></input>
                                    </label>
                                    <label> Total Time : 
                                    <input class="totals" name="time" id="total-time" readonly></input>
                                </label>
                                </div>
                                <button type="submit" id="checkout-btn" style="
                                margin-left: 2.5rem; margin-bottom : 0.5rem;
                            ">CHECKOUT</button>
                            </form>
                            
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- JavaScript -->
<!-- JavaScript -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        var cartItems = [];

        // Click event handler for package links
        $('.package-link').click(function (event) {
            event.preventDefault();

            var packageName = $(this).data('package-name');
            var packagePrice = parseFloat($(this).data('package-price'));
            var packageValue = parseFloat($(this).data('package-value'));

            // Create cart item object
            var cartItem = {
                name: packageName,
                price: packagePrice,
                tvalue: packageValue
            };

            // Add the cart item to the cartItems array
            cartItems.push(cartItem);

            // Update the cart display
            updateCartDisplay();

            // Update the total amount display
            
            updateTotalAmount();

            // Hide the "Your cart is empty" message
            $('#cart-empty-message').hide();
        });

        // Function to update the cart display
        function updateCartDisplay() {
            var cartItemsHTML = '';

            for (var i = 0; i < cartItems.length; i++) {
                cartItemsHTML += '<input class="totals" name="items">' +
                    '<span class="cart-item-name"> ' + cartItems[i].name + '</span>' +
                    '<span class="cart-item-price"> : ' + cartItems[i].price.toFixed(2) + '</span>' +
                    '</input>';
            }

            $('#cart-items').html(cartItemsHTML);
        }

        // Function to update the total amount display
        function updateTotalAmount() {
            var totalAmount = 0;
            var totaltime = 0;

            for (var i = 0; i < cartItems.length; i++) {
                totalAmount += cartItems[i].price;
                totaltime += cartItems[i].tvalue;
            }
            var inputElement = document.getElementById("total-amount");
            inputElement.value = totalAmount;
            var inputElement = document.getElementById("total-time");
            inputElement.value = totaltime;
            $('#total-amount').html('Total: ' + totalAmount.toFixed(2) + '<br>Total: ' + totaltime + ' hours');
        }

    });
</script>


{% endblock %}